# ignore the compiled binary
/captainhook

# ignore the local captainhook.json configuration
/captainhook.json
/captainhook.config.json

# ignore goreleaser build directory
/dist/

# ignore locat test files for now
/test/files
